@import '~metaphor-theme/src/scss/metaphor-v2.scss';


// Variables
@import 'variables';


.mapouter {
  text-align: right;
  height: 500px;
  width: 100%;
}

#map {
  height: 650px;
  width: 100%;
  border: solid black;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.nav-item:hover {
  cursor: pointer;
}